{% extends "base.html" %}
{% load static %}
<!-- Custom styles for this template -->
<link href="css/album.css" rel="stylesheet"> 
    
{% block extra_js %}
    <script src="{% static 'js/good.js' %}"></script>
{% endblock %}

{% block sidebar %}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
 

<div class="container-fluid" style="padding-top: 60px;">
  <div class="row">    
    
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
      </div>
    </nav>
    
    {% for good in goods %}
        <div class="col-md-6 col-xl-3">
            <a href="{% url 'good_update' good.id %}"
                <div class="card">
                    <img class="card-img-top" src="/static/{{ good.image }}" alt="img_"+{{ good.id }} >
                    <div class="card-body text-center">{{good.name }}</div>
                    <!-- <div class="d-flex justify-content-between align-items-center"></div> -->
                </div>
            </a>
        </div>
    {% endfor %}
</div>

<div class="modal fade" id="modal-product">
  <div class="modal-dialog">
    <div class="modal-content">

    </div>
  </div>
</div>
{% endblock %}

