<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link" href="{% url 'product_list' category=0 %}">Готовая продукция</a> </li>
      <li class="nav-item"><a class="nav-link" href="{% url 'product_list' category=1 %}">Комплексы</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'product_list' category=2 %}">Сборочные единицы</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'product_list' category=3 %}">Детали</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'product_list' category=4 %}">Стандартные изделия</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'product_list' category=5 %}">Прочие изделия</a> </li>
      <li class="nav-item"><a class="nav-link" href="{% url 'product_list' category=6 %}">Материалы</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'product_list' category=7 %}">Комплекты</a></li>
    </ul>
  </div>
</nav>