<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        
    <nav class="top-menu">
      <ul>       
        <li><a class="ui-disabled" tabindex="-1" aria-disabled="true"><span logo="file-logo"></span>PDMlite</a></li>
        <li><a href="{% url 'home_index' %}">Home</a></li>
        <li><a href="{% url 'good_index' rubric=0 %}">Products</a></li>
        <li><a href="{% url 'order_index' %}">Orders</a></li>
        <li><a href="{% url 'doc_index' %}">Documents</a></li>
        <li><a href="{% url 'pdm_index' category=0 %}">PDM</a></li>
      </ul>
    </nav>   
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
			    {% block sidebar %}
                {% endblock %}
            </div>
            <div class="col">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
